

/* RESET RULES & HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --lightgreen: #dee7dc;
    --lightpink: #ffd6f3;
    --uti: #aa3e98;
    --uti-background: #c19ab7;
    --red:  #d64041;
    --main: #1f958c;
    --main-background:#65b7b1;
  }
  
  a,
  a:hover {
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
  }
 
  h3 {
    font-weight: bold;
  }
  
  .bg-lightgreen {
    background: var(--main-background);
  }

  .bg-lightpink {
    background: var(--lightpink);
  }
  
  .bg-red {
    background: var(--green);
  }

  .text-header-uti {
    text-align: center;
    border: 5px solid var(--uti);
    border-radius: 5px;
    background: var(--uti-background);
    font-size: 60pt;
  }
  .text-header {
    text-align: center;
    border: 5px solid var(--main);
    border-radius: 5px;
    background: var(--main-background);
    font-size: 60pt;
  }
  
  .text-bold {
    font-weight: bold;
  }
  .text-pink {
    color: var(--uti);
  }

  .text-green {
    color: var(--main);
  }

  .text-red {
    color: var(--red);
  }
  
  .container-fluid-max {
    max-width: 1440px;
  }
  
  .cover {
    background: no-repeat center/cover;
  }
  
  .p-15 {
    padding: 15px;
  }

  .border-uti {
    border: 3px solid var(--uti);
    border-radius: 5px;
  }

  .border-main {
    border: 3px solid var(--main);
    border-radius: 5px;
  }
  
  /* SCROLL ANIMATIONS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .scroll .page-header {
    background: var(--green);
  }
  
  .scroll .hero {
    transform: scale(0.98);
  }
  
  /* HEADER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-header {
    transition: background 0.5s ease-in-out;
  }
  
  .page-header .navbar {
    padding: 1rem 0;
  }
  
  .page-header .navbar-toggler {
    /* the variable is inherited from BS4 built-in variables */
    border-color: var(--white); 
  }
  
  /* BANNER SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .hero {
    background-attachment: fixed;
    transition: transform 0.5s ease-in-out;
  }
  
  .hero::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(0, 0, 0, 0.5) 0,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }
  
  .hero .container-fluid {
    z-index: 10;
  }
  
  /* POPULAR DESTINATIONS SECTION
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .popular-destinations figure {
    margin-bottom: 30px;
  }
  
  .popular-destinations figcaption {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .popular-destinations img {
    filter: grayscale(100%) blur(3px);
    transition: transform 0.5s, filter 0.75s;
  }
  
  .popular-destinations a:hover img {
    transform: scale(1.25);
    filter: none;
  }
  
  /* PAGE FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer .footer-links {
    text-align: right;
  }
  
  /* MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  /* MEDIUM SCREENS */
  @media screen and (max-width: 991px) {
    .page-header {
      background: var(--main);
    }
  }
  
  /* SMALL SCREENS */
  @media screen and (max-width: 767px) {
    .page-footer .footer-child {
      text-align: center;
    }
  }
  
  